<div class="card">
  <div class="card-content">
    <span class="card-title">Editar usuario</span>
  </div>
  <div class="card-action">
    <a href="<%= users_path %>" class="btn blue">Volver</a>
  </div>
  <div class="card-content">
    <%= render 'form', user: @user %>
  </div>
</div>
